# === Backend ===
backend/env/
**/__pycache__/
*.py[cod]
*.sqlite3
*.log
**/migrations/
!*/migrations/__init__.py

# === Frontend ===
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.env

# === Common ===
.vscode/
.DS_Store
*.swp
npm-debug.log*
yarn-debug.log*
yarn-error.log*